@import "./partials/animation";
@import "./pages/thank_you.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background: #0B2545;
}


