// Email Template 
.rb_email_hero {
    .rb_container_wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    .rb_content {
        .rb_title {
            h2 {
                color: #0B2545;
                text-align: center;
                font-family: "Playfair Display";
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 64px; 
                letter-spacing: -2.4px;
                padding-top: 45px;
            }
        }
        .rb_divider {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 13px;
            margin-top: 40px;
            margin-bottom: 40px;
            .rb_hr_line {
                width: 250px;
                height: 1px;
                background: rgba(11, 37, 69, 0.14);
            }
        }
        .rb_name {
            h3 {
                color: #0B2545;
                text-align: center;
                font-family: "Playfair Display";
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -1.4px;
                padding-bottom: 17px;
            }
        }
        .rb_desc {
            display: flex;
            justify-content: center;
            p {
                color: #3F444B;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; 
                letter-spacing: -0.18px;
                max-width: 460px;
            }
        }
    }
}
.rb_training_section {
    margin-top: 48px;
    .rb_container_wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    .rb_top_header {
        background: #FFC857;
        padding: 72px 54px 194px;
        h2 {
            color: #0B2545;
            text-align: center;
            font-family: "Playfair Display";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px; /* 130% */
            letter-spacing: -2px;
        }
    }
    .rb_card_wrapper {
        margin-top: -168px !important;
        margin: auto;
        border-radius: 20px;
        border: 1px solid #E7E8E9;
        background: #FFF;
        display: flex;
        width: 552px;
        padding: 32px 28px;
        align-items: flex-start;
        gap: 30px;
        .rb_card {
            .rb_title {
                color: #4A4D56;
                font-family: "Playfair Display";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; 
                letter-spacing: -0.2px;
                padding-bottom: 24px;
            }
            .rb_thumb {
                position: relative;
                .rb_play_icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .rb_card_two {
        display: flex;
        width: 552px;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        border-radius: 20px;
        border: 2px solid #F7F7F7;
        background: #FFF;
        margin: auto;
        margin-top: 20px;
        .rb_title {
            h2 {
                color: #4A4D56;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px; /* 150% */
                letter-spacing: -0.24px;
                span {
                    color: #0B2545;
                }
            }
            .fix_pb {
                padding-bottom: 8px;
            }
        }
        .rb_title2 {
            color: #0B2545;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; /* 150% */
            letter-spacing: -0.24px;
        }
    }
}

.footer_email {
    margin-top: 60px;
    .rb_container_wrapper {
        background: #0B2545;
        max-width: 600px;
        margin: 0 auto;
        .rb_content {
            padding: 80px 64px;
            .rb_text {
                color: #FFF;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 175% */
                letter-spacing: -0.16px;
                padding-top: 10px;
            }
            .rb_footer_wrap {
                padding-top: 50px;
                .main-menu {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 12px;
                        li {
                            width: 136px;
                            height: 28px;
                            a {
                                color: #FFF;
                                font-family: Inter;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 28px; /* 200% */
                                letter-spacing: -0.14px;
                                &:hover {
                                    color: #FFC857;
                                }
                            }
                        }
                    }
                }
            }
            .rb_social_media {
                display: flex;
                margin-top: 45px;
                ul{
                    @include flex(row, flex-start, center);
                    gap: 12px;
                    @include md{
                        margin-top: 30px;
                    }
                    @include sm{
                        margin-top: 20px;
                    }
                    li{
                        a{
                            display: flex;
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 32px;
                            color: #000000;
                            background: #FFF;
                            @include transition(0.4s);

                            img{
                                filter: invert(1);
                                -webkit-filter: invert(1);
                            }

                            &:hover{
                                color: #FFFFFF;
                                background: #4A4D56;
                                img{
                                    filter: invert(1);
                                    -webkit-filter: invert(1);
                                }
                            }
                        }
                    }
                }
            }
            .rb_contact {
                .rb_title {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    opacity: 0.7;
                    padding-top: 44px;
                }
                .rb_email {
                    padding-top: 14px;
                    a {
                        color: #FFF;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 30px;
                        &:hover {
                            color: #FFC857;
                        }
                    }
                }
            }
            .rb_footer_text {
                color: #FFF;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                padding-top: 43px;
            }

        }
        .rb_copy_right {
            padding: 24px;
            background: #FFF;
            p {
                color: #4A4D56;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 175% */
                letter-spacing: -0.16px;
            }
        }
    }
}